@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,300;0,500;1,100;1,300&display=swap');


* {
    font-family: 'Montserrat', sans-serif;
    /* margin: 0;
    padding: 0; */
}

.container {
    width: 800px;
    margin: 0 auto;   
}

.main-header {
    background-color: #eb6969;
    padding: 20px 40px;
    margin-bottom: 60px;
}

nav {
    text-transform: uppercase;
    text-align: center;
    font-size: 18px;
    padding: 20px 0;
}

nav a {
    padding: 20px;
    text-decoration: none;
    color: #fff;
    font-size: 18px;
}

/* Figure out the border box around the link then replace this, next 4 l. below */
nav a:hover {
    color: #000;
    text-decoration: underline;
}

nav a:visited {
    color: #fff;
    /* Get rid of this code on l. below when linked and checked  */
    text-decoration: none;
}

.title {
    /* Change this font 1 l. below once importing new fonts later */
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    font-size: 35px;
    margin-bottom: 50px;
}

.tagline {
    text-align: center;
    margin: 0 auto;
    color:#fff;
    font-style: italic;

}